*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App{
    text-align: center;
    /* background: #f6f6f6; */
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    height: 100vh;
}

@media screen and (max-width: 600px){
    .component1{
        display: flex;
        flex-direction: column;
    }
}